<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
</head>

<body>
    <div class="signupdiv">
        <h1>Signup E-sathi</h1>
        <form action="POST">
            <input type="text" placeholder="Username">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confrim Password">
        </form>
    </div>
</body>

</html>